<section class="account-bg">
  <div class="contenedor-imagen py-5">
    <img src="assets/logo.jpg" alt="Logo-principal" class="imagen" />
  </div>
  <section class="vh-50">
    <div class="container-fluid h-custom pb-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8 col-lg-6 col-xl-4">
          
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                <!-- Usuario input -->
                <div class="form-outline mb-3">
                  <input
                    type="text"
                    id="user"
                    class="form-control form-control-lg"
                    placeholder="Usuario"
                    formControlName="user"
                    [class.is-invalid]="user.invalid && (user.dirty || user.touched)"
                  />
                  <label for="user" class="form-label">Ingrese un nombre de usuario</label>
                  <div *ngIf="user.invalid && (user.dirty || user.touched)">
                    <small class="text-danger" *ngIf="user.errors.required">Ingrese un nombre de usuario.</small>
                  </div>
                </div>
    
                <!-- Nacionalidad input -->
                <div class="form-outline mb-3">
                  <input
                    type="text"
                    id="nacionality"
                    class="form-control form-control-lg"
                    placeholder="Nacionalidad"
                    formControlName="nacionality"
                    [class.is-invalid]="nacionality.invalid && (nacionality.dirty || nacionality.touched)"
                  />
                  <label for="nacionality" class="form-label">Ingrese su nacionalidad</label>
                  <div *ngIf="nacionality.invalid && (nacionality.dirty || nacionality.touched)">
                    <small class="text-danger"> Solo acepta letras y espacios en blanco.</small>
                  </div>
                </div>
    
                <!-- Email input -->
                <div class="form-outline mb-3">
                  <input
                    type="email"
                    id="email"
                    class="form-control form-control-lg"
                    placeholder="Correo electrónico"
                    formControlName="email"
                    [class.is-invalid]="email.invalid && (email.dirty || email.touched)"
                  />
                  <label for="email" class="form-label">Ingrese su correo electrónico</label>
                  <div *ngIf="email.invalid && (email.dirty || email.touched)">
                    <small class="text-danger" *ngIf="email.errors.required">El correo electrónico es requerido.</small>
                    <small class="text-danger" *ngIf="email.errors.email">Formato de correo inválido.</small>
                  </div>
                </div>
  
                <div class="form-outline mb-3">
                  <input
                    type="password"
                    id="password1"
                    class="form-control form-control-lg"
                    placeholder="Contraseña"
                    formControlName="password1"
                    [class.is-invalid]="password1.invalid && (password1.dirty || password1.touched)"
                  />
                  <label for="password1" class="form-label">Ingrese una contraseña</label>
                  <div *ngIf="password1.invalid && (password1.dirty || password1.touched)">
                    <small class="text-danger" *ngIf="password1.errors.required">La contraseña es requerida.</small>
                    <small class="text-danger" *ngIf="password1.errors.minlength">La contraseña requiere al menos 6 caracteres</small>
              </div>
            </div>

              <!-- Password2 input -->
              <div class="form-outline mb-3">
                <input
                  type="password"
                  id="password2"
                  class="form-control form-control-lg"
                  placeholder="Contraseña"
                  formControlName="password2"
                  [class.is-invalid]="password2.invalid && (password1.dirty || password2.touched)"
                />
                <div *ngIf="password2.invalid && (password1.dirty || password2.touched)">
                  <small class="text-danger" *ngIf="Password2.errors.required">La contraseña es requerida.</small>
                  <small class="text-danger" *ngIf="password2.errors.minlength">La contraseña requiere al menos 6 caracteres</small>
              </div>
          </form>
        </div>
        </div>
    </div>
  </section>
</section>
