<div class="custom-footer">

    <div class="container py-3 h-100">
        <div class="row  align-content-end h-100">
            <div class="col">
              
            </div>
            <div class="col">
                
            </div>
            <div class="col">
                <nav>
                    <a class="row" routerLink="quienes_somos" routerLinkActive="active">Sobre Nosotros</a>
                    <a class="row" routerLink="terminos_y_condiciones" routerLinkActive="active">Términos y Condiciones</a>
                </nav>
            </div>
        </div>
    </div>

</div>