<section>
  <h1>Elige tu tipo de cuenta</h1>
  <div class="benefits-wrapper">
    <div class="benefits-group">
      <div class="card card-basico">
        <div class="card-header">
          <h2>Plan Básico</h2>
          <h3>FREE</h3>
        </div>
        <div class="card-body">
          <ul>
            <li>Cuenta x 3meses</li>
            <li>Registro hasta 15 activos</li>
            <li>Publicidad (proximamente)</li>
            <div class="card-buttons">
              <a href="#" class="btn-register">Registrarse</a>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <div class="benefits-group">
      <div class="card card-premium">
        <div class="card-header">
          <h2>Plan Premium</h2>
          <h3>$19.99/mes</h3>
        </div>
        <div class="card-body">
          <ul>
            <li>Cuenta x tiempo ilimitado</li>
            <li></li>
            <li>Registro hasta 50 activos</li>
            <li>Noticias exclusivas sobre el mercado</li>
            <li>Atencion de Soporte incluido</li>
            <div class="card-buttons">
              <button (click)="onUpgradeAccount()" class="btn-upgrade">Mejorar cuenta</button>
              <div id="paypal-button-container"></div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>

</section>