<section id="presentacion">
  <div class="container bienvenidos">
    <div class="contenido-bienvenidos">
      <h1>BIENVENIDOS!</h1>
      <h3>
        Todas tus operaciones en un solo lugar!!!
      </h3>
      <p class="texto-bienvenida">
        Controlá tus inversiones desde un sólo lugar.
        Visualizá la cotización de tu cartera en tiempo real.
        Registrá y consultá desde el mismo sitio tus compras y dale seguimiento a tus inversiones.
    </div>
  </div>
</section>

<section id="porfolio-ejemplo">
  <div class="container portfolio">
    <div class="text-center text-lg mt-2">
      <a href="login.html">
        <button type="button" class="btn btn-primary btn-lg"
          style="padding-left: 2.5rem; padding-right: 2.5rem;">Iniciar sesión</button>
      </a>
    </div>
    <div class="container container-portfolio mt-5">
      <div class="portfolio">
        <div class="table-responsive">

          <table class="table table-striped text-center portfolio-table">
            <thead class="table-head">
              <tr>
                <th scope="col">Activo</th>
                <th scope="col">Brk</th>
                <th scope="col">Fecha</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Valoración</th>
                <th scope="col">%G-P</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr>
                <th scope="row">NETFLIX</th>
                <td>E-TORO</td>
                <td>22/08</td>
                <td>12</td>
                <td>$2100</td>
                <td>$21924</td>
                <td>-%13</td>
              </tr>
              <tr>
                <th scope="row">YPF:BYMA</th>
                <td>IOL</td>
                <td>13/04</td>
                <td>3</td>
                <td>$800</td>
                <td>$3168</td>
                <td>+%32</td>
              </tr>
              <tr>
                <th scope="row">ETH</th>
                <td>BINANCE</td>
                <td>05/06</td>
                <td>5</td>
                <td>$2320</td>
                <td>$14152</td>
                <td>+%22</td>
              </tr>
              <tr>
                <th scope="row">NETFLIX</th>
                <td>E-TORO</td>
                <td>22/08</td>
                <td>12</td>
                <td>$2100</td>
                <td>$21924</td>
                <td>-%13</td>
              </tr>
              <tr>
                <th scope="row">YPF:BYMA</th>
                <td>IOL</td>
                <td>13/04</td>
                <td>3</td>
                <td>$800</td>
                <td>$3168</td>
                <td>+%32</td>
              </tr>
              <tr>
                <th scope="row">ETH</th>
                <td>BINANCE</td>
                <td>05/06</td>
                <td>5</td>
                <td>$2320</td>
                <td>$14152</td>
                <td>+%22</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
      <div class="imagen-portada">
        <img class="img-fluid" id="noticias" src="images/imagen-centro.webp" width="100%" alt="">
      </div>

    </div>
  </div>
</section>