<div class="container py-5">
  <div class="title">
    <h1>Noticias del Mundo de las Inversiones</h1>
    <h2>¡¡Toda las información sobre el mundo de las Inversiones, la encontrarás aquí!!</h2>
  </div>
  <div><img src="descarga" alt=""></div>
  <div>
    <h2>El sube y baja de tether: cuál es su costo hoy</h2>
    <h3>Esta moneda digital se ha convertido en la tercera más usada a nivel mundial detrás de bitcoin y ethereum</h3>
  </div>
  <div class="texto">

    <p>Tether, la criptomoneda del tipo stablecoin que afirma que cada uno de sus tokens está respaldado por
      un dólar estadounidense, es emitida por la empresa Tether Limited y desde sus orígenes ha estado envuelta
      en diversas polémicas.
    </p>
  </div>
  <div class="texto">
    <p> <em> Actualmente, Tether se encuentra en el lugar #3 de popularidad en el mercado digital. Cabe mencionar que
        el máximo histórico que ha alcanzado esta divisa digital es de 1.21549 dólares por unidad.
        Uno de los hombres más ricos del mundo, Elon Musk, ha realizado comentarios a favor
        de criptodivisas como bitcoin y dogecoin, permitiendo temporalmente su uso en la empresa
        de automóviles eléctricos Tesla, lo cual ha desencadenado el incremento de su precio.
      </em>
    </p>
  </div>

</div>