<div class="contenedor-imagen py-5">
    <img src="assets/logo.jpg" alt="Logo-principal" class="imagen">
  </div>
  <section class="vh-50">
    <div class="container-fluid h-custom pb-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
  
        <div class="col-md-8 col-lg-6 col-xl-4">
          <form action="" name="f1">
  
        
            <!-- Email input -->
            <div class="form-outline mb-3">
              <input type="email" class="form-control form-control-lg" placeholder="Correo electrónico"
                pattern="^(\w+[/./-]?){1,}@[a-z]+[/.]\w{2,}$" title="Formato de correo inválido" required />
              <label class="form-label">Ingrese su correo electrónico</label>
            </div>
  
  
            <div class="d-flex justify-content-center align-items-center">
  
              <div class="text-center text-lg mt-4 pt-2">
                <button type="submit" value="Comprobar si son iguales" 
                  class="btn btn-primary btn-lg"
                  style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="recuperarContrasena()">Recuperar Contraseña</button>
              </div>
  
  
  
        </div>
  