:root {
    --bg-color: #EEEEEE;
    --primary: #7350B9;
    --primary-soft: #C5B6E2;
    --secondary: #FFE863;
    --tertiary: #50b973;
    --font-color: #180A33;
}


body {
    padding: 0 !important;
    margin: 0 !important;
    background-color: var(--bg-color);
}

.account-bg {
    background-color: var(--primary);
    background-image: linear-gradient(150deg,
            var(--secondary) 0%,
            var(--primary) 100%);
}


a {
    text-decoration: none;
    color: var(--font-color);
}

a:hover {
    color: var(--tertiary);
}

* {
    color: var(--font-color);
}

button {
    border-color: var(--secondary) !important;
    background-color: var(--secondary) !important;
}

button:hover {
    
    border-color: var(--tertiary) !important;
    background-color: var(--tertiary) !important;
    color: var(--bg-color) !important;
}