<div class="contenedor-imagen py-5">
    <img src="assets/logo.jpg" alt="Logo-principal" class="imagen">
  </div>
  <section class="vh-50">
    <div class="container-fluid h-custom pb-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
  
        <div class="col-md-8 col-lg-6 col-xl-4">
          <form action="" name="f1">
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              <input type="password" name="password1" id="password1" class="form-control form-control-lg"
                placeholder="Contraseña" required />
              <label for="password1" class="form-label">Ingrese su nueva contraseña</label>
            </div>
  
            <!-- Password2 input -->
            <div class="form-outline mb-3">
              <input type="password" name="password2" id="password2" class="form-control form-control-lg"
                placeholder="Repetir Contraseña" required />
              <label for="password2" class="form-label">Ingrese nuevamente la contraseña</label>
            </div>
  
            <div class="d-flex justify-content-center align-items-center">
  
              <div class="text-center text-lg mt-4 pt-2">
                <button type="submit" value="Comprobar si son iguales" 
                  class="btn btn-primary btn-lg"
                  style="padding-left: 2.5rem; padding-right: 2.5rem;">Cambiar Contraseña</button>
                
              </div>
  
  
  
        </div>
  