<header>
    <div class="container">
        <a routerLink="home" routerLinkActive="active">
            <div class="titulo">
                <div>
                    <img class="img" [src]="'assets/logo.jpg'">
                </div>
                <p class="logo">Controlling</p>
            </div>
        </a>

        <nav>
            <a routerLink="cartera" routerLinkActive="active" >Cartera</a>
            <a routerLink="login" routerLinkActive="active">Iniciar Sesion</a>
            <a routerLink="registro" routerLinkActive="active">Registrarse</a>
            <a routerLink="premium" routerLinkActive="active">Premium</a>
        </nav>
    </div>
</header>